/*body {
	padding-top: 5em;
}*/

.ui-listview>li.ui-li-has-alt>.ui-btn+.ui-btn {
   width: 3.5em !important;
}

.oculto {
	display: none !important;
}

/* Foto artículo */

.ui-popup-container {
/*    max-width: 679px !important;
    top: 82px !important;
    left: 55px !important;*/
}