/*body {
	padding-top: 5em;
}*/

.ui-listview>li.ui-li-has-alt>.ui-btn+.ui-btn {
   width: 3.5em !important;
}

.oculto {
	
}

/* Mensajes */

#mensaje {
	display: block;
	margin-top: 2em;
	margin-left: 29.7em;
}

.mensajeoculto {
	opacity: 0;
}

.mensajevisible {
	opacity: 1;
	transition: opacity 1s ease-out;
}

.mensajedesaparece {
	opacity: 0;
	transition: opacity 1s ease-out;
}