/*body {
	padding-top: 5em;
}*/

.ui-listview>li.ui-li-has-alt>.ui-btn+.ui-btn {
   width: 3.5em !important;
}

.oculto {
	display: none !important;
}

/* Foto artículo */

.ui-popup-container {
}

.botonatras {
	/*width: 90px !important;
	border-radius: 10px !important;*/
}