/* Div de cada item */

.col-md-10 {
	border-left: 1px solid;
	border-color: #DDDDDD;
	width: 83.33333333%;
}

.panel-default {
	border: 0px;
	border-bottom: 1px solid;
	border-color: #DDDDDD;
	border-radius: 0em;
	margin-bottom: 0em;
}