/* Mensajes */

#mensajelogin, #mensaje2 {
	display: block;
	margin-top: 1em;
  margin-bottom: 0em;
}

.mensajeoculto {
	opacity: 0;
}

.mensajevisible {
	transition: opacity 1s ease-out;
	opacity: 1;
}

.mensajedesaparece {
	transition: opacity 1s ease-out;
	opacity: 0;
}