/* Mensajes */

#mensaje {
	display: block;
	margin-top: 1em;
  margin-bottom: 0em;
}

.mensajeoculto {
	opacity: 0;
}

.mensajevisible {
	opacity: 1;
	transition: opacity 1s ease-out;
}

.mensajedesaparece {
	opacity: 0;
	transition: opacity 1s ease-out;
}