<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="articulos">
        <li ng-repeat="articulo in articulos | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/articulos/{{articulo.id}}">{{articulo.nombre}}</a>
					<img src={{articulo.foto}} id="fotos-articulos" class="img-rounded"></img>
					<p>{{articulo.precio}}</p>
					<p>{{articulo.descripcion}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>