<!-- Include estilo css -->
<link rel="stylesheet" href="/css/articulos-usuario.css">
<link rel="stylesheet" href="/css/lista.css">

<div class="container-fluid">
	<div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
			
      <h5>Busca por nombre:</h5>
			<div class="input-group">
				<input ng-model="filtronombre" class="form-control" placeholder="Busca por...">
		 	</div>
			
      <h5>Tipo de instrumento:</h5>
      <select ng-model="filtrotipo" class="form-control">
				<option value="" id="defaulselect">Selecciona un tipo</option>
        <option ng-repeat="tipo in tipos" value={{tipo.nombre}}>{{tipo.nombre}}</option>
      </select>
			
			<h5>Vender un nuevo artículo:</h5>
			<button ng-click="showModalAddArticulo()" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
    </div>
    <div class="col-md-10">
			
			<div id="divmensaje" class="mensajeoculto"><div class="alert alert-success" id="mensaje">{{mensaje}}</div></div>
			
			<!-- Mostramos la lista de los artículos pudiendo editar y eliminar porque son suyos --> 
			<div class="media" ng-repeat="articulo in articulos | filter:filtronombre | filter:filtrotipo">			
				<div class="panel panel-default">
					
					<!-- Vista de los artículos en detalle -->
					<div ng-hide="articulo.showdetailedit" class="panel-body">
						<a href="/articulos/{{articulo.id}}" class="pull-left">
							<img src="{{articulo.foto}}" class="media-object" id="fotos-articulos" alt="{{articulo.nombre}}">
						</a>

						<div class="media-body">
							<h4 class="media-heading">{{articulo.nombre}}
								<i id="precio">{{articulo.precio}} €</i>
							</h4>
							<p id="descripcion">{{articulo.descripcion}}</p>
						</div>				
						
						<!--No los mostramos si los artículos son de un usuario que no es el logeado -->
						<div ng-show="sonmisarticulos">
							<button ng-click="editableView(articulo)" class="btn btn-primary">
								Editar <span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button ng-click="deleteArticulo(articulo.id)" id="botonderecha" class="btn btn-primary" id="botonDetecha">
								Eliminar <span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
					
					<!-- Vista de los artículo para editar -->
					<div ng-show="articulo.showdetailedit" class="panel-body">
						<a href="" class="pull-left" id="imagenArtEdit">
							<img src="{{imagenPorDefecto}}" class="media-object" id="fotos-articulos" alt="Imagen por defecto">
						</a>
						<label>URL foto:</label>
						<input ng-model=articulo.foto class="form-control" id="inputformArtBig" placeholder="URL foto del artículo">

						<div class="media-body">
							<div id="nombreEdit">
								<label>Nombre:</label>
								<input ng-model=articulo.nombre class="form-control" placeholder="Nombre">
							</div>
							<div id="precioEdit">
								<label id="etiquetaPrecioEdit">Precio:</label>
								<input ng-model=articulo.precio class="form-control" placeholder="Precio">
							</div>
							<div>
								<label id="etiquetaPrecioEdit">Tipo:</label>
								<select ng-model="articulo.tipo" class="form-control" id="inputformArtSmall">
									<option value="" id="defaulselect">Selecciona un tipo</option>
									<option ng-repeat="tipo in tipos" value={{tipo.nombre}}>{{tipo.nombre}}</option>
								</select>	
							</div>
							
							<label>Descripción:</label>
							<textarea rows="3" ng-model=articulo.descripcion class="form-control" 
												id="inputformArtBig" placeholder="Descripción">
							</textarea>
							
							<button ng-click="updateArticulo(articulo)" class="btn btn-primary">
								Guardar <span class="glyphicon glyphicon-floppy-saved"></span>
							</button>	
							<button ng-click="cancelarEdit(articulo)" class="btn btn-primary" id="botonDetecha">
								Cancelar <span class="glyphicon glyphicon-arrow-left"></span>
							</button>
						</div>						
					</div>
					
				</div>		
			</div>
			
			<!-- Mostramos la vista del perfil de un usuario sin poder modificar nada -->
			<!--<ng-include ng-hide="showusuario" src="'/aplicacion/partials/articulos-usuario-ajenos.html'"></ng-include>-->
			
			<!-- Paginado -->
			
			<ul class="pager">
				<li><a ng-click=pasarPaginaAnterior()>Anterior</a></li>
				<li><a ng-click=pasarPaginaSiguiente()>Siguiente</a></li>
			</ul>
    </div>
  </div>
</div>
