<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-2">
      <!--Sidebar content-->
			<form ng-submit="addArticulo()">
				Nombre: <input type="text" ng-model="datos.nombre">
				<select ng-model="datos.tipo">
        	<option ng-repeat="tipo in tipos" value={{tipo.nombre}}>{{tipo.nombre}}</option>
				</select>
        Descripcion: <input type="text" ng-model="datos.descripcion">
        Precio: <input type="text" ng-model="datos.precio">
				Foto url: <input type="text" ng-model="datos.foto">
        <input type="submit" value="Enviar">
				<!--Otra forma de manejador ng-click="addArticulo()">-->
			</form>
    </div>
		
    <div class="col-md-8">
      <!--Sidebar content-->
      Buscar por nombre: <input ng-model="query1">
			</br>
      Busca por tipo de instrumento:
      <select ng-model="query2">
				<option value="">Selecciona un tipo</option>
        <option ng-repeat="tipo in tipos" value={{tipo.nombre}}>{{tipo.nombre}}</option>
      </select>
    </div>
	
    <div class="col-md-10">
      <!--Body content-->

      <ul class="articulos">
        <li ng-repeat="articulo in articulos | filter:query1 | filter:query2 | orderBy:orderProp" class="thumbnail">
          <a href="/articulos/{{articulo.id}}">{{articulo.nombre}}</a>
					<img src={{articulo.foto}} id="fotos-articulos" class="img-rounded"></img>
					<p>{{articulo.precio}}</p>
					<div>{{articulo.descripcion}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
