
<div class="container-fluid">
	<div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Buscar por nombre: <input ng-model="query1">
      Busca por tipo de instrumento:
      <select ng-model="query2">
        <option ng-repeat="tipo in tipos" value={{tipo.nombre}}>{{tipo.nombre}}</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="articulos">
        <li ng-repeat="articulo in articulos | filter:query1 | filter:query2 | orderBy:orderProp" class="thumbnail">
          <a href="/articulos/{{articulo.id}}">{{articulo.nombre}}</a>
					<img src={{articulo.foto}} id="fotos-articulos" class="img-rounded"></img>
					<p>{{articulo.precio}}</p>
					<div id="descripcion">{{articulo.descripcion}}</div>
        </li>
      </ul>
	
			<ul class="pager">
				<li><a ng-click=pasarPaginaSiguiente()>Anterior</a></li>
				<li><a ng-click=pasarPaginaSiguiente()>Siguiente</a></li>
			</ul>
    </div>
  </div>
</div>
