<!-- Include estilo css -->
<link rel="stylesheet" href="/aplicacion/css/login.css">

<div ng-hide="showInicioRegistro">
	<div class="modal-header">
			<h3 class="modal-title">Iniciar sesión</h3>    
			<p class="text-muted">Identifícate con tu email y contraseña o regístrate si no tienes cuenta.</p>
	</div>
	<div class="modal-body">
			<form action="" role="form">
					<div class="form-group">
							<label for="email">Email:</label>
							<input type="text" id="email" ng-model="datos.email" placeholder="tucorreo@gmail.com" class="form-control">
					</div>
					<div class="form-group">
							<label for="password">Contraseña:</label>
							<input type="password" id="password" ng-model="datos.password" class="form-control">
					</div>
			</form>
			<a ng-click="vistaRegistro()">¡Regístrate!</a>
	
			<div id="divmensaje" class="mensajeoculto"><div class="alert alert-success" id="mensaje">{{mensaje}}</div></div>
	</div>
	
	<div class="modal-footer">
			<button class="btn btn-link" ng-click="cancelshowModalLogin()">Cancelar</button>
			<button class="btn btn-primary" ng-click="login();" href="">Iniciar sesión</button>
	</div>
</div>

<div ng-show="showInicioRegistro">
	<ng-include src="'/aplicacion/partials/registro.html'"></ng-include>
</div>