		<nav ng-controller="NavCtrl" class="navbar navbar-default" role="navigation">
		<!-- El logotipo y el icono que despliega el menú se agrupan
				 para mostrarlos mejor en los dispositivos móviles -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-ex1-collapse">
				<span class="sr-only">Desplegar navegación</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="logotipo" href="#">Logotipo</a>
		</div>

		<!-- Agrupar los enlaces de navegación, los formularios y cualquier
				 otro elemento que se pueda ocultar al minimizar la barra -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active" id="primerenlace"><a href="articulos">Artículos</a></li>
				<li><a href="usuarios/1/articulos">Mis artículos</a></li>
				<li><a href="usuarios/1">Perfil</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<p ng-hide="showme" class="navbar-text pull-right">
					Hola <a href="/usuarios/1" class="navbar-link">{{usuario}}</a>
					<span class="glyphicon glyphicon-user"></span> - 
					<a ng-click="logout()" href="#" class="navbar-link">Log out</a>
				</p>
				
				<p ng-show="showme" class="navbar-text pull-right">
					<a ng-click="showModalLogin();" class="navbar-link">{{mensaje}}</a>
				</p>
			</ul>
		</div>
	</nav>