<div>
<div class="modal-header">
		<h3 class="modal-title">Registro</h3>    
		<p class="text-muted">Crea tu propia cuenta introduciendon los siguientes datos.</p>
</div>
<div class="modal-body">
		<form action="" role="form" onsubmit="return false;">
				<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" ng-model="datos.nombre" placeholder="Ej: Antonio" class="form-control">
				</div>
				<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" id="email" ng-model="datos.email" placeholder="tucorreo@gmail.com" class="form-control">
				</div>
				<div class="form-group">
						<label for="nombre">Teléfono:</label>
						<input type="text" id="tlf" ng-model="datos.tlf" placeholder="Ej: 786543211" class="form-control">
				</div>
				<div class="form-group">
						<label for="password">Contraseña:</label>
						<input type="password" id="password" ng-model="datos.password" class="form-control">
				</div>
		</form>
		<a ng-click="vistaInicioSesion()">¡Iniciar sesión!</a>
		
		<div id="divmensajeregistro" class="mensajedesaparece"><div id="mensajeregistro"></div></div>
</div>
<div class="modal-footer">
		<button class="btn btn-link" ng-click="cancelshowModalLogin()" id="cancelar">Cancelar</button>
		<button class="btn btn-primary" href="" id="botonRegistro">Registrarme</button>
</div>

<script type="text/javascript" src="/js/registro-sinframework.js"></script>

</div>