<div>
	<form class="form-group">
		<label>Nombre:</label>
		<input class="form-control" type="text" id="nombre">
		
		<label>Email:</label>
		<input class="form-control" type="text" id="email">
		
		<label>Password:</label>
		<input class="form-control" type="password" id="password">
		
		<label>Teléfono:</label>
		<input class="form-control" type="text" id="tlf">
		
		<input type="submit" class="btn btn-default" value="Registrarme" id="botonRegistro">
	</form>
</div>

<script type="text/javascript">		
	function addUsuario() {
		console.log("hola amigos");
		var nombre = document.getElementById("nombre").value;
		var email = document.getElementById("email").value;
		var password = document.getElementById("password").value;
		var tlf = document.getElementById("tlf").value;
		
		console.log("hola: "+nombre+""+password);
		
		$.ajax({
			url: 'http:localhost:3000/stretto/usuarios',
			async: true,
			data : { nombre : nombre, email : email, password : password, tlf : tlf },
			type: 'POST',
			success: function(results) {
				console.log("entramos");
			 	alert(results);
				//location.reload();
		 }
	 });
		
		console.log("hei=???");
	}
	//var botonRegistro = document.getElementById("botonRegistro");
	//botonRegistro.onclick = addUsuario;
</script>