<!-- Include estilo css -->
<link rel="stylesheet" href="/aplicacion/css/usuario-detalle.css">
<link rel="stylesheet" href="/aplicacion/css/lista.css">

<div id="divUsuarioDetalle">		
	<!-- Vista del usuario en detalle -->
	<h5 class="titulo">Datos personales</h5>
	<fieldset class="marco_principal">
		<p class="etiqueta">Nombre: </p>
		<h5 class="datos_u">{{usuario.nombre}}</h5> </br>
	
		<p class="etiqueta">Email: </p>
		<h5 class="datos_u">{{usuario.email}}</h5> </br>

		<p class="etiqueta">Valoración: </p>
		<h5 class="datos_u">{{usuario.valoracion}}</h5> </br>

		<p class="etiqueta">Teléfono: </p>
		<h5 class="datos_u">{{usuario.tlf}}</h5> </br>

		<button ng-click="editableView(articulo)" class="btn btn-primary">
			Editar perfil <span class="glyphicon glyphicon-pencil"></span>
		</button>
		<button ng-click="deleteArticulo(articulo.id)" id="botonderecha" class="btn btn-primary" id="botonDetecha">
			Eliminar cuenta <span class="glyphicon glyphicon-trash"></span>
		</button>
	</fieldset>

	<a href="/usuarios/{{usuario.id}}/articulos" class="titulo">Todos los artículos vendidos por {{usuario.nombre}}</a>

	<!-- Vista de sus últimos artículos -->
	<h5 class="titulo">Últimos artículos del usuario</h5>

	<div ng-repeat="articulo in last_articulos">
		<!-- Vista de cada artículo -->
		<div class="divArticulo">
				<div >
					<div>
						<h4 >{{articulo.nombre}} 
							<i id="precio">{{articulo.precio}} €</i>
						</h4>
					</div>
					<a href="/articulos/{{articulo.id}}" class="pull-left">
							<img src="{{articulo.foto}}" id="fotos-articulos" alt="{{articulo.nombre}}">
					</a>
					<p id="descripcion">{{articulo.descripcion}}</p>
				</div>
			</div>
	</div>
</div>